* {
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}

@font-face {
    font-family: castorgate;
    src: url(castorgate.upright.ttf);
}

@font-face {
    font-family: castorgate-special;
    src: url(castorgate.upright.shifted.otf);
}

@font-face {
    font-family: gradechalky;
    src: url(gradechalky.demo.otf);
}

@font-face {
    font-family: pompiere;
    src: url(pompiere.regular.ttf);
}

html, body {
    height: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(198, 236, 154);
}

#container {
    display: flex;
    height: 100%;
}

#game {
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#phone-game {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid rgb(58, 58, 60);
}

.title {
    color: rgb(24, 40, 37);
    font-size: 4rem;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#board-container {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
    flex-grow: 0.5;
    overflow: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square, .high, .low {
    width: 40px;
    height: 40px;
    font-size: 50px;
    color: rgb(24, 40, 37);
    border: 2px solid rgb(58, 58, 60);
    text-transform: lowercase;
    font-family: pompiere;
    line-height: 35px;

    display: flex;
    justify-content: center;
    align-content: center;
}

.square {
    background-color: rgb(15, 230, 222);
    margin-top: 40px;
    margin-bottom: 40px;
}

.high {
    background-color: rgb(243, 23, 209);
    margin-bottom: 40px;
    padding-top: 40px;
}

.low {
    background-color: rgb(147, 105, 213);
    margin-top: 40px;
    padding-bottom: 40px;
}

#keyboard-container {
    height: 30%;
    position: relative;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: pompiere;
    font-size: 45px;
    font-weight: 200;
    border: 2px solid rgb(58, 58, 60);
    cursor: pointer;
    flex-grow: 1;
    text-transform: lowercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.small-button {
    background-color: rgb(15, 230, 222);
    color: rgb(24, 40, 37);
    height: 45px;
    line-height: 0px;
    flex-grow: 1;
}

.high-button {
    background-color: rgb(243, 23, 209);
    color: rgb(24, 40, 37);
    height: 70px;
}

.low-button {
    background-color: rgb(147, 105, 213);
    color: rgb(24, 40, 37);
    height: 70px;
}

.keyboard-row button.delete-button {
    margin-top: 0px;
    width: 70px;
    height: 70px;
    background-image: url(images/Delete.png);
    background-size: 66px; /* Size - border width * 2 (=4). */
    background-repeat:initial;
    flex-grow: 0;
}

.keyboard-row button.submit-button {
    margin-top: 0px;
    width: 70px;
    height: 70px;
    background-image: url(images/Submit.png);
    background-size: 66px; /* Size - border width * 2 (=4). */
    background-repeat:initial;
    flex-grow: 0;
}

#WrongPlace {
    background-color: rgb(255, 209, 102);
}

#RightPlace {
    background-color: rgb(255, 209, 102);
}

#NotInWord {
    background-color: rgb(205, 245, 165);
    color: rgb(190, 230, 150);
    border: rgb(190, 230, 150);
}

.spacer-half {
    flex-grow: 0;
    border: 2px solid rgb(58, 58, 60);
    background-color: rgb(58, 58, 60);
    margin-right: 6px;
}

/*
Colour ideas:
- lavender: 237, 227, 233
- vanilla: 238, 227, 171
- rose: 243, 218, 216
- coral: 224, 141, 121
- tangerine: 255, 147, 79
- orange: 24, 40, 37
- bright green: 90, 255, 21
- green: 43, 192, 22
- avocado: 68, 118, 4
- chamoisee (brown): 155, 126, 70
- onyx: 50, 55, 59
- navy: 27, 40, 69
- gunmetal: 24, 40, 37
*/