ul, li {
    text-align: left;
    justify-content: left;
    list-style-position: inside;
}

ul, h4, h3 {
	margin-left: 3%;
	margin-right: 3%;
}

h2, h3, h4 {
	margin-top: 20px;
}

ul {
    margin-bottom: 0;
}

ul ul {
    margin: 0 0 0 0;
}

li {
    list-style-type: auto;
	margin-right: 3%;
}

li li {
    list-style-type: disc;
}

aside {
    font-style: italic;
}

p, code {
	text-align: left;
	justify-content: left;
}

p, code {
	margin-top: 30px;
	margin-bottom: 5px;
}

.main-img, .small-img, .resize-img {
	margin: 20px 0 5px 0;
}

.main-img {
	width: 100%;
}

.resize-img {
}

.small-img {
	width: 30%;
}

.subtitle {
    text-align: center;
    justify-content: center;
	margin-bottom: 0;
}

.date {
    text-align: center;
    justify-content: center;
    margin-top: 0;
}

.container {
    max-width: 750px;
}
@media screen and (max-width: 736px) {

	.container {
		width: 100%;
		max-width: calc(100% - 30px);
	}
}

#nav ul {
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
    text-align: center;
    justify-content: center;
}

#nav li {
	display: inline-block;
	padding-left: 0;
}